We Import our Data

In [2]:
import pandas as pd

#Importing Data

Biz_DF = pd.read_csv("Raw_Data/BusinessAnalyst.csv")
Biz_DF.head()

,Unnamed: 0,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,0,Business Analyst - Clinical & Logistics Platform,$56K-$102K (Glassdoor est.),Company Overview\n\n\nAt Memorial Sloan Ketter...,3.9,Memorial Sloan-Kettering\n3.9,"New York, NY","New York, NY",10000+ employees,1884,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Mayo Clinic, The Johns Hopkins Hospital, MD An...",-1
1,1,1,Business Analyst,$56K-$102K (Glassdoor est.),We are seeking for an energetic and collaborat...,3.8,Paine Schwartz Partners\n3.8,"New York, NY","New York, NY",1 to 50 employees,-1,Company - Private,Venture Capital & Private Equity,Finance,Unknown / Non-Applicable,-1,True
2,2,2,Data Analyst,$56K-$102K (Glassdoor est.),"For more than a decade, Asembia has been worki...",3.6,Asembia\n3.6,"Florham Park, NJ","Florham Park, NJ",501 to 1000 employees,2004,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$5 to $10 million (USD),-1,-1
3,3,3,"Information Security Analyst, Incident Response",$56K-$102K (Glassdoor est.),Job Description Summary\nThe Information Secur...,3.6,BD\n3.6,"Franklin Lakes, NJ","Franklin Lakes, NJ",10000+ employees,1897,Company - Public,Health Care Products Manufacturing,Manufacturing,$10+ billion (USD),"Abbott, Siemens, Baxter",-1
4,4,4,Analyst - FP&A Global Revenue,$56K-$102K (Glassdoor est.),Magnite is the world's largest independent sel...,3.4,Rubicon Project\n3.4,"New York, NY","Los Angeles, CA",201 to 500 employees,2007,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"PubMatic, AppNexus, Index Exchange",True

Next we Explore how many missing values present.

In [32]:
#Checking Data Values

Biz_DF["Job Title"].isna()
print (Biz_DF["Job Title"].isna())

Biz_DF["Job Title"].isna().count()
print (Biz_DF["Job Title"].isna().count())

Biz_DF["Job Title"].isna().sum()
print (Biz_DF["Job Title"].isna().sum())

0       False
1       False
2       False
3       False
4       False
        ...
4087    False
4088    False
4089    False
4090    False
4091    False
Name: Job Title, Length: 4092, dtype: bool
4092
0

Lets find Null Values to help determine which columns to drop.

In [53]:
null_counts = Biz_DF.groupby('Job Title')

null_counts = Biz_DF.isnull().sum(axis=1)
null_counts_by_category = null_counts.groupby(Biz_DF['Category']).sum()
print(null_counts)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x28c619870>

In [31]:
Biz_DF["Job Title"] = Biz_DF["Job Title"].fillna(value = False)
print (Biz_DF["Job Title"])

Biz_DF["Job Title"].isna()
print (Biz_DF["Job Title"].isna())

Biz_DF["Job Title"].isna().count()
print (Biz_DF["Job Title"].isna().count())

Biz_DF["Job Title"].isna().sum()
print (Biz_DF["Job Title"].isna().sum())

0        Business Analyst - Clinical & Logistics Platform
1                                        Business Analyst
2                                            Data Analyst
3         Information Security Analyst, Incident Response
4                           Analyst - FP&A Global Revenue
                              ...
4087    Ref ID: 01120-0011488945Classification: Help D...
4088    Job Title: System Analyst (Data) - PL/SQl Serv...
4089    Job Opening Summary\nReports to the Systems Ap...
4090    Job Description\nA knowledgeable job-seeker is...
4091    Job Summary\n\nThis unique analyst position re...
Name: Job Title, Length: 4092, dtype: object
0       False
1       False
2       False
3       False
4       False
        ...
4087    False
4088    False
4089    False
4090    False
4091    False
Name: Job Title, Length: 4092, dtype: bool
4092
0

After this we explore how many unique Job Titles exist in our data and order them by quantity in descending order. We will be dealing with only the top 25 titles.

In [33]:
Biz_DF['Job Title'].nunique()
Job_Title_Counts = Biz_DF['Job Title'].value_counts(ascending=False).head(25)

Job_Title_Counts

Business Analyst                   502
Data Analyst                       145
Business Systems Analyst           118
Senior Business Analyst             68
Business Intelligence Analyst       50
Technical Business Analyst          36
Sr. Business Analyst                32
Business System Analyst             30
IT Business Analyst                 30
Financial Analyst                   25
Systems Analyst                     25
Management Analyst                  21
Business Analyst III                21
Project Analyst                     21
Salesforce Business Analyst         19
Senior Business Systems Analyst     18
Business Process Analyst            17
Entry Level Business Analyst        17
Business Analyst II                 15
Product Analyst                     13
Business Data Analyst               13
System Analyst                      11
Business Analyst Level-1            10
Jr. Business Analyst                10
Financial Business Analyst          10
Name: Job Title, dtype: int64

Considering there are mixed values and strings we will clean our salaries column in preperation for calculating the average salary for each Job Title catagory.

In [13]:
Biz_DF['Salary Estimate'] = Biz_DF['Salary Estimate'].str.replace('(Glassdoor est.)',(''))
Biz_DF['Salary Estimate']

Job_Title_Counts = Biz_DF[['Job Title', 'Salary Estimate']].value_counts(ascending=False).head(25)

Job_Title_Counts

/var/folders/f_/v4jjg_gj1_q01bz6mqdkdc_80000gp/T/ipykernel_51058/2513060140.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  Biz_DF['Salary Estimate'] = Biz_DF['Salary Estimate'].str.replace('(Glassdoor est.)',(''))

Job Title                 Salary Estimate
Business Analyst          $48K-$92K ()       23
                          $45K-$82K ()       22
                          $81K-$159K ()      21
                          $85K-$135K ()      21
                          $74K-$85K ()       20
                          $55K-$78K ()       20
                          $62K-$120K ()      17
                          $59K-$85K ()       17
                          $48K-$87K ()       14
                          $69K-$131K ()      13
                          $32K-$61K ()       13
                          $99K-$118K ()      13
                          $62K-$79K ()       12
                          $40K-$77K ()       11
                          $62K-$111K ()      11
                          $112K-$136K ()     11
                          $69K-$97K ()       11
                          $41K-$88K ()       10
                          $72K-$134K ()      10
                          $36K-$61K ()       10
Business Systems Analyst  $43K-$84K ()       10
Business Analyst          $43K-$78K ()        9
                          $41K-$81K ()        9
                          $42K-$78K ()        8
                          $49K-$91K ()        8
dtype: int64

THIS IS WHERE I TAKE A BREAK. EVERYTHING BELOW THIS POINT IN UNREFINED CODE WHICH CONTAIND ERRORS.

The code below is to transform any string data in the salary estimate column into an intiger

In [ ]:
Biz_DF['Salary Estimate'] = Biz_DF['Salary Estimate'].str.replace('(Glassdoor est.)',('')).str.split('-', expand=True).astype(float).mean(axis=1)

Job_Title_Means = Biz_DF.groupby('Job Title')['Salary Estimate'].mean().reset_index()
print(Job_Title_Means)

Attempt to transform all numerics values in string format into integers

In [25]:
Biz_DF = Biz_DF.applymap(lambda x: int(x) if str(x).isnumeric() else x)
Biz_DF

,Unnamed: 0,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,0,Business Analyst - Clinical & Logistics Platform,56000-102000 (),Company Overview\n\n\nAt Memorial Sloan Ketter...,3.9,Memorial Sloan-Kettering\n3.9,"New York, NY","New York, NY",10000+ employees,1884,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Mayo Clinic, The Johns Hopkins Hospital, MD An...",-1
1,1,1,Business Analyst,56000-102000 (),We are seeking for an energetic and collaborat...,3.8,Paine Schwartz Partners\n3.8,"New York, NY","New York, NY",1 to 50 employees,-1,Company - Private,Venture Capital & Private Equity,Finance,Unknown / Non-Applicable,-1,True
2,2,2,Data Analyst,56000-102000 (),"For more than a decade, Asembia has been worki...",3.6,Asembia\n3.6,"Florham Park, NJ","Florham Park, NJ",501 to 1000 employees,2004,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$5 to $10 million (USD),-1,-1
3,3,3,"Information Security Analyst, Incident Response",56000-102000 (),Job Description Summary\nThe Information Secur...,3.6,BD\n3.6,"Franklin Lakes, NJ","Franklin Lakes, NJ",10000+ employees,1897,Company - Public,Health Care Products Manufacturing,Manufacturing,$10+ billion (USD),"Abbott, Siemens, Baxter",-1
4,4,4,Analyst - FP&A Global Revenue,56000-102000 (),Magnite is the world's largest independent sel...,3.4,Rubicon Project\n3.4,"New York, NY","Los Angeles, CA",201 to 500 employees,2007,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"PubMatic, AppNexus, Index Exchange",True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4087,Help Desk Analyst,$66K-$114K (Glassdoor est.),Ref ID: 01120-0011488945Classification: Help D...,3.5,Robert Half\n3.5,"Jacksonville, FL","Menlo Park, CA",10000+ employees,1948,Company - Public,Staffing & Outsourcing,Business Services,$2 to $5 billion (USD),"Adecco, Manpower",-1,NaN,NaN
4088,System Analyst (Data) - PL/SQl Server,$66K-$114K (Glassdoor est.),Job Title: System Analyst (Data) - PL/SQl Serv...,3.9,Diverse Lynx\n3.9,"Jacksonville, FL","Princeton, NJ",501 to 1000 employees,2002,Company - Private,IT Services,Information Technology,$100 to $500 million (USD),-1,-1,NaN,NaN
4089,Programmer Analyst- PeopleSoft ( Finance and S...,$66K-$114K (Glassdoor est.),Job Opening Summary\nReports to the Systems Ap...,4.0,Shands at the University of Florida\n4.0,"Jacksonville, FL","Gainesville, FL",10000+ employees,-1,Subsidiary or Business Segment,Health Care Services & Hospitals,Health Care,$1 to $2 billion (USD),"Mount Sinai Medical Center of Florida, Baptist...",-1,NaN,NaN
4090,Loss Mitigation Analyst,$66K-$114K (Glassdoor est.),Job Description\nA knowledgeable job-seeker is...,4.4,Contemporary Staffing Solutions\n4.4,"Jacksonville, FL","Mount Laurel, NJ",1001 to 5000 employees,1994,Company - Private,Staffing & Outsourcing,Business Services,$100 to $500 million (USD),"PathFinder Staffing, Juno Search Partners, Rob...",-1,NaN,NaN
4091,Financial Analyst II - Baptist,$66K-$114K (Glassdoor est.),Job Summary\n\nThis unique analyst position re...,2.7,Baptist Medical Center Jacksonville\n2.7,"Jacksonville, FL","Jacksonville, FL",5001 to 10000 employees,-1,Hospital,Health Care Services & Hospitals,Health Care,$1 to $2 billion (USD),-1,-1,NaN,NaN

In [24]:
Job_Title_Counts = Biz_DF[['Job Title', 'Salary Estimate']].mean()

/var/folders/f_/v4jjg_gj1_q01bz6mqdkdc_80000gp/T/ipykernel_51058/4036323811.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  Job_Title_Counts = Biz_DF[['Job Title', 'Salary Estimate']].mean()

In [ ]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MultiLabelBinarizer
from ast import literal_eval

Biz_DF["Job Title"].isna().sum()

droped_df = Biz_DF.dropna(subset = ["sJob_Title_Counts"])
droped_df.isna().sum()
droped_df

mlb = MultiLabelBinarizer()
def convert_to_list(s):
    try:
        return eval(s)
    except:
        return []
Biz_DF['description_tokens'] = Biz_DF['description_tokens'].apply(convert_to_list)

mlb = MultiLabelBinarizer()
mlb.fit(Biz_DF['description_tokens'])

FTokens = pd.DataFrame(mlb.transform(Biz_DF['description_tokens']), columns=mlb.classes_)
Biz_DF = pd.concat([Biz_DF, FTokens], axis=1)